/* GLOBAL */

.hidden {
	display: none;
}

/* MENU */

#logo {
	margin-left: 6vw;
}

@media only screen and (max-width: 1300px) {
	#logo {
		width: 175px !important;
	}
}

@media only screen and (min-width: 992px) {
	#logo {
		width: 250px;
	}
}

.navbar {
	background-color: #f79714;
}

.active {
	font-weight: bold;
}

.navbar-nav {
	margin-right: 6vw;
	text-align: right;
	white-space: nowrap
}

.navbar-toggler {
	margin-right: 6vw;
	margin-top: 1vh;
}

@media only screen and (min-width: 992px) {
	.navbar-nav {
		padding-top: 1.5em;
	}

	.nav-item {
		margin: 0 1em 0 1em;
	}
}

/* BODY */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f9f9f9;
	overflow-x: hidden;
}

.wrapper {
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 2em;
}

.wrapper p {
	font-size: 1.3em;
}

.img-fluid {
	padding-bottom: 2em;
}

/* FOOTER */

footer {
	width: 100%;
	padding: 0 1vw 0 1vw;
	background-color: #343a40;
	color: #f9f9f9;
}

/* HOME */

.home-images img {
	width: 400px;
	padding-top: 2em;
}

@media only screen and (max-width: 1290px) {
	.home-img-1 {
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	.home-img-2 {
		display: none;
	}
}

/* LOGIN */


button {
	background-color: #f79714 !important;
	border: 0 !important;
}

label {
	cursor: pointer;
}

.form-signin * {
	margin-bottom: 1vh;
}

.alert {
	margin: 1vh 0 0 0;
}

/* EMAIL */

.table-bordered td {
	height: 162.5px;
}

.table-responsive {
	overflow: hidden;
	white-space: nowrap;
}

#email-table {
	text-align: left;
}

#email-table a {
	color: black;
}

.container-fluid {
	padding: 0 6vw 0 6vw;
}

@media only screen and (max-width: 1290px) {
	.container-fluid {
		padding: 0;
	}

	#logo {
		margin-left: 0;
	}

	.navbar-nav, .navbar-toggler {
		margin-right: 0;
	}

	.wrapper {
		padding: 15px;
	}

}

#compose-btn {
	margin-bottom: 10px;
}

textarea {
	margin-top: 10px;
}

#send-email-form *:focus,
.pagination li *:focus,
.custom-select:focus,
.form-control:focus,
button:focus  {
	box-shadow: none !important;
	border: 1px solid darkgray !important;
}	

.paginate_button:hover {
	margin: 1px 1px 0 0;
	height: 47px;
	border: none !important;
	box-shadow: none !important;
	margin: 9px 1px 0 3px !important;	
}

.paginate_button {
	margin-top: 0.5rem;
}

.page-link {
	padding-top: 12px;
	height: 47px;
	vertical-align: middle;
	color: black !important;
	background-color: white !important;
	border: 1px solid darkgray !important;
	font-weight: normal !important;
}

#mail-view {
	white-space:normal !important;
	word-wrap: break-word; 
}

#send-email-form textarea {
	margin-bottom: 10px ;
}

#send-email-form input[type="text"], textarea {
	background-color: #f9f9f9 !important;
	border: 0;
	border-bottom: 1px solid darkgray;
	border-radius: 0 !important;
}

#send-email-form input[type="text"]:focus ,textarea:focus {
	border: 0 !important;
	border-bottom: 1px solid darkgray !important;
}

textarea {
	border: 1px solid darkgray !important;
}

#mail-placeholder {
	margin: auto;
}

#mail-placeholder img {
	opacity: 0.4;
	width: 100px;
	height: auto;
	filter: grayscale(100%);
	padding-bottom: 1vh;
}

#email-outer-col {
	white-space: normal !important;
	word-wrap: break-word;
}

#email-table h4, #email-table h5, #email-table h6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 35vw;
    display: block;
	overflow: hidden
}

@media only screen and (max-width: 2450px) {
	#email-table h4, #email-table h5, #email-table h6 {
		width: 34.3vw;
	}
}

@media only screen and (max-width: 2000px) {
	#email-table h4, #email-table h5, #email-table h6 {
		width: 33.5vw;
	}
}


@media only screen and (max-width: 1570px) {
	#email-table h4, #email-table h5, #email-table h6 {
		width: 82vw;
	}
}

@media only screen and (max-width: 1290px) {
	#email-table h4, #email-table h5, #email-table h6 {
		width: 95vw;
	}
}

@media only screen and (max-width: 1100px) {
	#email-table h4, #email-table h5, #email-table h6 {
		width: 93vw;
	}
	
}

@media only screen and (max-width: 900px) {
	#email-table h4, #email-table h5, #email-table h6 {
		width: 91vw;
	}
}

#email-table td {
	vertical-align: middle;
}

.close {
	background-color: transparent !important;
}

#email-outer-col, .send-read-email-area {	
	padding-top: 5px;
}

.page-link:hover {
	cursor: pointer;
}

.spinner-grow {
	color: #f79714;
}

.spinner-grow-alt {
	color: #343a40;
}

#decrypt-btn {
	background-color: #f79714;
}


#mail-view-datetime {
	font-style: italic;
}

#mail-view-body {
	text-align: justify;
}

#mail-view-subject {
	text-align: justify;
	text-align-last: center;
}

#mail-view-datetime {
	padding-top: 5px;
}

.btn-transparent {
	background-color: transparent !important;
	color: black;
	border: none;
}

/* CREATE ACCOUNT */

h6 {
	padding: 0.5vh 0 0.5vh 0;
}

.download-btn {
	margin: 1vh 0 1vh 0;
}

textarea {
	resize: none;
}

/* NETWORK OVERVIEW */

.fa-check-circle {
	font-size: larger;
	color: green;
}

.fa-times-circle {
	font-size: larger;
	color: red;
}

.fa-minus-circle {
	font-size: larger;
	color: orange;
}

.pagination li  {
	padding: 0 !important;
}

.custom-select  {
	width: 65px;
}

.dataTables_length {
	padding-top: 17px;
}

[role="row"] {
	font-weight: normal;
}

#overview-table {
	min-height: 910px;
}

.word-wrap {
	word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

#nav-emails-tab, #nav-nodes-tab {
	color: black;
}