/* GLOBAL */

.hidden {
	display: none;
}

/* MENU */

#logo {
	margin-left: 7vw;
}

@media only screen and (max-width: 1300px) {
	#logo {
		width: 175px !important;
	}
}

@media only screen and (min-width: 992px) {
	#logo {
		width: 250px;
	}
}

.navbar {
	background-color: #f79714;
}

.active {
	font-weight: bold;
}

.navbar-nav {
	margin-right: 7vw;
	text-align: right;
	white-space: nowrap
}

.navbar-toggler {
	margin-right: 7vw;
	margin-top: 1vh;
}

@media only screen and (min-width: 992px) {
	.navbar-nav {
		padding-top: 1.5em;
	}

	.nav-item {
		margin: 0 1em 0 1em;
	}
}

/* BODY */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f9f9f9;
}

.wrapper {
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 2em;
}

.wrapper p {
	padding-top: 2em;
	font-size: 1.3em;
}

/* FOOTER */

footer {
	width: 100%;
	padding: 0 7vw 0 7vw;
	background-color: #343a40;
	color: #f9f9f9;
}

/* HOME */

.home-images img {
	width: 400px;
	padding-top: 2em;
}

@media only screen and (max-width: 1290px) {
	.home-img-1 {
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	.home-img-2 {
		display: none;
	}
}

/* LOGIN */


button {
	background-color: #f79714 !important;
	border: 0 !important;
}

label {
	cursor: pointer;
}

.form-signin * {
	padding-bottom: 1vh;
}

.alert {
	margin: 1vh 0 0 0;
}

#clear-public-label,
#clear-private-label {
	display: none;
}

/* EMAIL */

.email-table {
	text-align: left;
}

.email-table a {
	color: black;
}

.container-fluid {
	padding: 0 7vw 0 7vw;
}

.new-email-btn {
	margin-bottom: 10px;
}

h3 {
	padding-bottom: 18px;
}

textarea {
	margin-top: 10px;
}

.send-email-form *:focus,
.pagination li *:focus {
	box-shadow: none !important;
	border: 1px solid black !important;
}

.send-email-form input[type=text] {
	margin-bottom: 10px;

}

.page-link {
	margin-top: 5px;
	padding-top: 12px;
	height: 47px;
	vertical-align: middle;
	color: black !important;
}

/* CREATE ACCOUNT */

h6 {
	padding: 1vh 0 1vh 0;
}

.download-btn {
	margin: 1vh 0 1vh 0;
}